body {
  background-color: #F9FFFF;
  font-family: 'Playfair', Arial, sans-serif;
}

main{
    padding-top: 3%;
    padding-bottom: 3%;
}

.divider img,
.divider .job-title {
    display: inline-block;
    font-family: "Playfair";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 84.69%;
}


#logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh; 

}

a {
  margin-right: 10px;
  text-align: center;
  color: #005677;
}

img {
  background-color: #1190cb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh; 
}

.centered-content {
  display: flex;
  align-items: center;
}


ul ul {
  margin-left: 75px;
  padding: 0;
}

ul ul li {
  display: inline;
}

header {
  background-image:url("/images/coverpage.png");
  text-align: center;
  padding-top: 1%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ffffff;
  border-color: #1190cb;
  border-style: inset;
}

h1 {
  font-family: "Playfair";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 84.69%;
  text-align: center;

  /* identical to box height, or 30px */

  color: #1190cb;
}

.container-h2 {
  background-color: #FFF7E6;
}

#subtitulo {
  width: 395.62px;
  height: 30px;
  left: 12.45px;
  top: 382px;
  font-family: "Playfair";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 84.69%;
  color: #333333;
  padding-top: 0.5%;
}

#seccionOne li span {
  font-weight: bold;
}

#seccionOne li {
  font-family: "Playfair", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 84.69%;
  padding-right: 50%;

}

#seccionTwo li span {
  font-weight: bold;
}

#seccionTwo li {
  font-family: "Playfair", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 84.69%;
  font-size: 16px;
  list-style-type: none;
}

#seccionThree li span {
  font-weight: bold;
}

#seccionThree li {
  font-family: "Playfair", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 84.69%;
  font-size: 16px;
  list-style-type: none;
}

footer {
  height: 37px;
  background: #1190cb;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

footer p {
  color: #ffffff;
  margin-right: 10px;
}

footer img{
    margin-right: 10px;
}


/*Aplicacion de estilos font*/
@font-face {
  font-family: 'Playfair';
  src: url('fonts/mifuente-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
